/* -------------------------------- Overrides ------------------------------- */
@mixin smooth-text {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: unset;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
@mixin strip-button-effects {
  font-size: 100%;
  font-family: inherit;
  background-color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
@mixin strip-link-effects {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border: 0;
  padding: 0;
  font-size: 100%;
  color: unset;

  &:active {
    color: $bondi-blue-light;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    color: unset;
    text-decoration: none;
    filter: brightness(1.15);
    cursor: pointer;
  }

  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &:hover {
    color: $canary-yellow-medium;
    text-decoration: none;
    cursor: pointer;
  }
}

@mixin strip-link-states {
  &:active {
    color: $bondi-blue-light;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    color: $steel-grey-dark;
    text-decoration: none;
    filter: brightness(1.15);
    cursor: pointer;
  }

  &:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &:hover {
    color: $canary-yellow-medium;
    text-decoration: none;
    cursor: pointer;
  }
}
@mixin add-link-effects {
  &:active {
    color: $bondi-blue-light;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    color: unset;
    text-decoration: none;
    filter: brightness(1.15);
    cursor: pointer;
  }

  &:visited {
    // color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &:hover {
    color: $canary-yellow-medium;
    text-decoration: none;
    cursor: pointer;
  }
}
@mixin strip-touchscreen-effects {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
@mixin first-section-padding {
  padding-top: 70px;
}


/* --------------------------------- Special -------------------------------- */
@mixin parallax-effect { // must include background-image: url('#');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
  background-position: center;
}

@mixin diagonal-clip-image { // must include background-image: url('#');

  background-position: center;
  
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  opacity: 0.3;
}

@mixin img-clip-parallax { // must include background-image: url('#');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1000;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  opacity: 0.3;
}

@mixin tooltip-bottom {
  z-index: 1;
  min-width: 4px;
  white-space: nowrap;
  visibility: hidden;
  padding: 10px 15px;
  position: absolute;
  margin-top: 10px;
  background-color: $bondi-blue-dark;
  border-radius: 6px;
  box-shadow: $standard-shadow;
  letter-spacing: 0.3px;
  color: $steel-grey-light;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent $bondi-blue-dark transparent;
  }
}

/* ------------------------------ Hero Overlays ----------------------------- */

@mixin parent-overlay {
  background-image: linear-gradient(to bottom right, $soot-grey-dark, $midnight);
}
@mixin child-bg-img { // must include background-image: url('#');
  min-width: 100vw;
  min-height: 400px;
  overflow-x: hidden;
  position: relative;
  width: inherit;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  opacity: 0.2;
}

/* --------------------------------- Styles --------------------------------- */
@mixin caps-heading {
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@mixin section-caps-heading {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-left: 5px;
}

@mixin blue-btn {
  background-image: linear-gradient(to bottom right, $bondi-blue-light, $bondi-blue-darkest);
  box-shadow: $standard-shadow;
  border-radius: 6px;
  box-sizing: border-box;
  color: $steel-grey-light;
  &:hover {
    filter: brightness(1.15);
  }
}
@mixin dark-blue-btn {
  background-image: linear-gradient(to bottom right, $bondi-blue-dark, $bondi-blue-darkest);
  box-shadow: $standard-shadow;
  border-radius: 6px;
  box-sizing: border-box;
  color: $steel-grey-light;
  &:hover {
    filter: brightness(1.15);
  }
}
@mixin midnight-btn {
  color: $steel-grey-medium;
  background-image: linear-gradient(to bottom right, $pale-midnight-medium, $midnight);
  box-shadow: $standard-shadow;
  border-radius: 6px;
  box-sizing: border-box;
  &:hover {
    filter: brightness(1.15);
  }
}
/* ---------------------------- Responsive Sizing --------------------------- */

@mixin mobile-screens { // 0 - 600px
  @media (max-width: 700px) {@content;}
}

@mixin tablet-screens { // prev - 1300px
  @media (min-width: 701px) and (max-width: 1300px) {@content;}
}


/* --------------------- Variables for Responsive Sizing -------------------- */
$break-small: 750px;
$break-large: 1000px;

@mixin respond-to($media) {
  @if $media == smartphones { 
    @media only screen and (max-width: $break-small) {@content;}
  } @else if $media == notebooks { // 749 - 999
    @media only screen and (min-width: $break-small + 1px) and (max-width: $break-large - 1px) {@content;}
  } @else if $media == desktops { //1000+
    @media only screen and (min-width: $break-large) {@content;}
  }
}

$desktop-content-width: 900px;

/* ------------------------------ Feature Block ----------------------------- */

@mixin feature-block {
  width: 575px;
  background-image: linear-gradient(to bottom right, $pale-midnight-light, $pale-midnight-medium);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: $standard-shadow;

  .feature-title {
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    display: block;
    align-items: center;

    .block-icon {
      font-size: 22px;
      height: 22px;
      width: 22px;
      color: $soot-grey-medium;
      padding-right: 5px;
    }
    .down-icon {
      float: right;
      padding-top: 2px;
      color: $steel-grey-dark;
    }

    .feature-body {
      border-top: 2px solid $soot-grey-dark;
      margin-top: 15px;
      padding-top: 15px;

      .sub-feature-rectangle {
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        background-image: linear-gradient(to top right, $pale-midnight-medium, $midnight);
        height: 34px;
        border-radius: 30px;
        margin-bottom: 15px;

        border-top: 4px solid $pale-midnight-dark;
        box-shadow: -6px -6px 15px #ced2d610,
                      6px 6px 15px $midnight;
        .sub-feature-txt {
          font-size: 14px;
          padding-left: 15px;
          padding-bottom: 2px;
          letter-spacing: 0.3px;
        }
        .mock-status-btn {
          position: absolute;
          right: 0;
          top: 0;
          @include caps-heading;
          line-height: 34px;
          padding-left: 20px;
          padding-right: 20px;
          background-image: linear-gradient(to bottom, $pale-midnight-dark, $midnight);
          border-radius: 20px;
          box-shadow: $standard-shadow;
        }
      }
    }
  }
}