@import "colors.scss";
@import "mixins.scss";
@import "variables.scss";

/* -------------------------------------------------------------------------- */
/*                              Browser Overrides                             */
/* -------------------------------------------------------------------------- */
html {
  background-color: $pale-midnight-dark;
  color: $steel-grey-medium;
  font-family: lato, sans-serif;
  overflow-x: hidden;
  @include smooth-text;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background: $midnight;
    border-radius: 3px;
  }
}
a, body a, a:-webkit-any-link, :any-link {
  text-decoration: none;
  @include strip-link-effects;
  @include strip-link-states;
}
* {
  @include smooth-text;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  text-decoration: none;
}
button {
  @include strip-button-effects;
  @include strip-link-effects;
}
body {
  margin: 0;
  padding: none;
  outline: 0;
  overflow-x: hidden;
}



/* -------------------------------------------------------------------------- */
/*                                 NAVIGATION                                 */
/* -------------------------------------------------------------------------- */
.navigation-section {
  z-index: 1;
  width: 100vw;
  height: 70px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  background-color: $pale-midnight-dark;


  @include tablet-screens {
    display: block;
  }
  @include mobile-screens {
    display: none;
  }

  .nav-content-group {
    z-index: 1;
    width: 100%;
    height: inherit;
    position: fixed;
    background-color: $pale-midnight-dark;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    .nav-content {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;

      .logo-container {
        padding-left: 40px;
        padding-right: 40px;
        a {}

        @include tablet-screens {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      .nav-items-group {
        display: inherit; 

        .nav-item {
          padding-right: 25px;
          font-size: 24px;
          line-height: 70px;
          color: $steel-grey-dark;
          white-space: nowrap;
          letter-spacing: 0.3px;
          font-weight: 300;

          .dropdown-icon {
            font-size: 16px;
          }
          @include tablet-screens {
            font-size: 22px;
          }
        }
        a {
          @include add-link-effects;
        }
        .dropdown-structure-container {
          &:hover {
            .dropdown-div {
              display: block;
            }
          }
          // Dropdown menu that appears on hover 
          .dropdown-div {
            z-index: 1;
            display: none;
            position: absolute;

            .dropdown-menu {
              background-color: $midnight;
              box-shadow: $standard-shadow;
              border-radius: 6px;
              display: flex;
              flex-flow: row nowrap; // for multiple sections
              padding: 20px;
  
              .dropdown-section {
                .dropdown-section-heading {
                  color: $bondi-blue-light;
                  font-size: 12px;
                  line-height: 12px;
                  text-transform: uppercase;
                  font-weight: bold;
                  letter-spacing: 1.5px;
                }
                .dropdown-section-items {
                  display: inline-flex;
                  flex-flow: column nowrap;
                  margin-right: 20px;
                  
                  .dropdown-item {
                    font-size: 1rem;
                    line-height: 16px;
                    padding-top: 15px;
                    letter-spacing: 0.3px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .nav-cta-btns {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      width: 285px;
      padding-right: 15px;

      @include tablet-screens {
        width: 240px;
      }

      .cta-btn {
        height: 48px;
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        @include tablet-screens {
          padding-left: 30px;
          padding-right:30px;
        }

        .btn-label {
          font-size: 12px;
          line-height: 48px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          white-space: nowrap;
        }
      }
      .login-cta-btn {
        border: 2px solid $pale-midnight-light;
        border-radius: 4px;
        box-sizing: border-box;
      }
      .signup-cta-btn {
        @extend .login-cta-btn;
        background-image: linear-gradient(to bottom right, $pale-midnight-light, $midnight);
        border: none;
        box-shadow: $standard-shadow;
        
      }
    }
  }
}
.scroll-test {
  height: 2000px;
}

/* -------------------------------------------------------------------------- */
/*                         MOBILE OPTIMIZED NAVIGATION                        */
/* -------------------------------------------------------------------------- */
/* ----------------------------- NAVIGATION BAR ----------------------------- */
.mobile-nav-div {
  z-index: 99999;
  position: fixed;
  width: 100vh;
  top: 0;
  left: 0;
  width: 100%;
 
  height: 70px;
  overflow-x: hidden;
  display: none;
  
  @include mobile-screens {
    display: block;
  }
  @include tablet-screens {
    display: none;
  }

  .mobile-nav-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    // background-color: $midnight;
    width: 100%;
    height: inherit;
    
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $pale-midnight-dark;

    .mobile-logo-container {
      padding-left: 15px;
      padding-right: 15px;
    }
    .mobile-menu-btn {
      @extend .mobile-logo-container;

      .mobile-menu-icon {
        color: $soot-grey-light;
        font-size: 32px;
        line-height: 70px;
      }
    }
  }
}
/* ------------------------- MOBILE NAVIGATION MENU ------------------------- */
.mobile-menu-div {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: fixed;
  background-color: $pale-midnight-dark;
  @include first-section-padding;
  display: none;

  .mobile-menu {
    
    width: inherit;

    .mobile-content {
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      margin-left: 50px;

      .mobile-sub-list {
        display: inline-flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;

        .sublist-label {
          display: flex;
          flex-flow: row nowrap;
          font-size: 24px;
          line-height: 24px;
          letter-spacing: 0.3px;
          color: $soot-grey-light;

          padding-top: 40px;
          cursor: default;
          &:hover {
            color: $canary-yellow-medium;
          }
          .sublist-arrow-icon {
            font-size: 15px;
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        .submenu-item {
          margin-left: 30px;
          font-size: 18px;
          line-height: 18px;
          letter-spacing: 0.3px;
          padding-top: 20px;
          
          &:last-child {
            padding-bottom: 20px;
          }
        }

        a {
          @include add-link-effects;
          color: $soot-grey-light;
        }
      }
      .mobile-menu-item {
        display: block;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.3px;
        padding-top: 20px;
        color: $soot-grey-light;


        &:last-child {
          padding-bottom: 50px;
        }
      }
    }
    .mobile-cta-btns {
      width: inherit;
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      height: 175px;

      .mobile-cta-btn {
        height: 48px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        line-height: 48px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        display: block;
        width: 100%;
        border-radius: 6px;
      }
      .mobile-signup-btn {
        background-image: linear-gradient(to bottom right, $pale-midnight-light, $midnight);
        box-shadow: $standard-shadow;
      }
      .mobile-login-btn {
        border: 2px solid $pale-midnight-light;
      }
      .mobile-user-notes {
        display: block;
        color: $soot-grey-medium;
        text-align: center;
        width: 100%;
      }
    }
  }  
}

/* -------------------------------------------------------------------------- */
/*                                 Home > Hero                                */
/* -------------------------------------------------------------------------- */
.home-hero {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 70px;
  justify-content: center;
  overflow-x: hidden;
  display: block;
  
  @include respond-to(smartphones) {
    margin-bottom: 30px;
  }

  .hero-content {
    z-index: 1;
    width: inherit;
    height: inherit;
    position: absolute;
    padding-top: 70px;
    

    .stack-content {
      width: inherit;
      margin: auto;
      @include respond-to(desktops) {
        width: 900px;
      }
      @include respond-to(notebooks) {
        width: 500px;
      }
      @include respond-to(smartphones) {
        width: 90%;
      }
      .hero-txt {
        .slogan-statement {
          font-size: 42px;
          line-height: auto;
          font-weight: 300;
          margin-bottom: 30px;
        }

        .boilerplate {
          font-size: 1.4rem;
          line-height: 1.8rem;
          letter-spacing: 0.3px;
          font-weight: 300;
          margin-bottom: 30px;
        }
        .btn-container {
          width: 365px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          @include respond-to(smartphones) {
            width: 100%;
            flex-direction: column;
          }

          .hero-btn {
            @include caps-heading;
            display: inline-block;
            box-sizing: border-box;
            min-height: 48px;
            line-height: 51px;
            border-radius: 6px;
            padding-left: 30px;
            padding-right: 30px;
            white-space: nowrap;

            &:hover {
              filter: brightness(1.15);
            }
            @include respond-to(smartphones) {
              display: block;
              width: 100%;
              text-align: center;
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .hero-signup-btn {
            background-image: linear-gradient(to bottom right, $bondi-blue-darkest, $bondi-blue-light);
            color: $steel-grey-light;
            box-shadow: $standard-shadow;
            box-sizing: border-box;
          }
          .hero-case-study {
            background-color: $pale-midnight-medium;
            box-sizing: border-box;
          }
        }
      }

      .screenshot-div{
        padding-top: 50px;
        padding-bottom: 50px;
        img {
          margin: auto;
          @include respond-to(desktops) {
            width: 850px;
          }
          @include respond-to(notebooks) {
            margin-top: 30px;
            width: 550px;
            padding-bottom: 0;
          }
          @include respond-to(smartphones) {
            width: 99%;
          }
        }
      }
    }
  }
  .clipped-image {
    display: block;
    width: 100%;
    height: 100vh;
    width: 100vw;
    background-image: url('https://ik.imagekit.io/enhvtyz2ze/large_images/hero-bg-img_4QycuWFXx.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    opacity: 0.3;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 VALUE PROPS                                */
/* -------------------------------------------------------------------------- */

.value-props-section {
  width: 100%;
  min-height: 250px;
  overflow-x: hidden;
  position: relative;
  width: inherit;
  padding-top: 50px;
  padding-bottom: 50px;

  @include respond-to(notebooks) {
    padding-top: 0;
  }

  .value-prop-content {
    margin: auto;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    @include respond-to(smartphones) {
      margin: auto;
      display: block;
      width: 300px;
    }
    .value-prop-col {
      @include respond-to(desktops) {
        width: 375px;
      }
      @include respond-to(notebooks) {
        width: 200px;
      }
      @include respond-to(smartphones) {
        margin-top: 40px;
        &:first-child {
          margin-top: 100px;
        }
      }
      .value-prop-icon {
        font-size: 40px;
        color: $bondi-blue-darkest;
        margin-bottom: 15px;
      }
      .value-prop-title {
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
        padding-bottom: 15px;
        border-bottom: 2px solid $bondi-blue-darkest;
        margin-bottom: 15px;
      }
      .value-prop-body {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                              CASE STUDY QUOTE                              */
/* -------------------------------------------------------------------------- */

.case-study-section {
  min-width: 100vw;
  min-height: 250px;
  overflow-x: hidden;
  position: relative;
  width: inherit;
  padding-top: 50px;
  padding-bottom: 50px;
  @include parallax-effect;
  background-image: url('https://ik.imagekit.io/enhvtyz2ze/large_images/ereader_bg_45ljhQE2r.png');


  .case-study-content {

    width: 100%;
    margin: auto;
    width: 900px;
    @include respond-to(notebooks) {
      width: 500px;
    }
    @include respond-to(smartphones) {
      width: 400px;
    }
    .quote-block {
      .quotation-txt {
        font-size: 32px;
        font-weight: 300;

        @include respond-to(desktops) {
          margin-bottom: 30px;
        }
        @include respond-to(notebooks) {
          margin-bottom: 20px;
        }
        @include respond-to(smartphones) {
          margin-bottom: 30px;
        }
      }
      .quote-source {
        font-weight: 300;
        font-size: 26px;
      }
      .source-position-title {
        font-weight: bold;
        @include caps-heading;
        margin-bottom: 30px;
        height: 40px;
        line-height: 42px;
      }
    }
    .quote-btn-block {

      .download-case-study {
        @include caps-heading;
        display: inline-block;
        min-height: 50px;
        line-height: 53px;
        border-radius: 6px;
        padding-left: 30px;
        padding-right: 30px;
        @include blue-btn-bg;
        color: $steel-grey-light;
        box-shadow: $standard-shadow;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
footer {
  @include mobile-screens {
    margin-top: 100px;
  }
  @include tablet-screens {
    padding-top: 100px;
  }
  .footer-div {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;

    .footer-col {
      display: inline-block;
      margin: 40px;

      .footer-col-heading { 
        @include caps-heading;
        color: $soot-grey-light;
      }
      .footer-col-options {
        .footer-option {
          display: block;
          font-size: 17px;
          line-height: 17px;
          padding-top: 20px;
        }
        .bottom-txt {
          font-size: 16px;
          line-height: 26px;
          padding-top: 20px;
          color: $soot-grey-light;
        }
      }
    }
    .founder-cred,
    .hq-txt {
      align-self: flex-end;
    }
  }
}


.placeholder-section {
  height: 30vh;
}