/* ------------------------------ Media Queries ----------------------------- */
$small-desktop: 1800px;
$notebook-large: 1400px;
$notebook: 1200px;
$tablet-large: 960px;
$tablet: 650px;
$mobile-large: 600px;
$mobile: 300px;
